.middle {
	margin-top: 100px;
}

.top {
	margin-top: 5px;
}

.force-top-50 {
	margin-top: -50px;
}

.small-img {
	transform: scale(0.4,0.4);
}

.med-img {
	transform: scale(0.6,0.6);
}

.input {
	margin-bottom: 4px;
}